#outer {
    text-align: center;
}

#insertTitle {
    margin-top: 0px;
}

#insertForm {
    display: inline-block;
    border: 0px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #B9EEFF;
    width: 25%;
}

#insert {
    width: 40%
}

#insertButton {
    border: 0px;
    width: 20%;
    min-width: 40px;
    margin-top: 10px;
}

#listForm {
    display: inline-block;
    width: 75%;
    padding: 10px;
}

table {
    display: inline-block;
    text-align: center;
    margin: 0px;
}

td {
    border : 1px solid black;
}

.complete {
    min-width: 35px;
    width: 10%;
    margin: 0px;
}

.todo {
    width: 90%;
    margin: 0px;
}