#outer {
    text-align: center;
}

#insertTitle {
    margin-top: 0px;
}

#insertDiv {
    display: inline-block;
    border: 0px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #B9EEFF;
    width: 75%;
}

#insertForm {
    display: inline-block;
    width: 75%;
}

#insert {
    width: 40%
}

#insertButton {
    border: 0px;
    width: 20%;
    min-width: 40px;
    margin-top: 10px;
}

#listForm {
    display: inline-block;
    width: 75%;
    padding: 0px;
}

table {
    display: inline-block;
    margin: 0px;
    border-spacing: 0px 5px;
}

td {
    border : 0px;
    background-color: aliceblue;
}

.complete {
    min-width: 35px;
    width: 20%;
    margin: 0px;
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.todo {
    min-width: 35px;
    margin: 0px;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delete {
    margin-bottom: 3px;
    border: 0px solid black;
    background-color: aliceblue;
    color: red;
    font-size:1px;

}

.todoList {
    border-left: 0px;
    border-right: 0px;
    width: 76%;
}

.tdCheck {
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tdDelete {
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}